header{
    display: flex; background-color: blueviolet; 
    justify-content: space-between;
    align-items: center; padding: 10px;
}

header h1{
    margin: 20px;
    color: yellow; font-size: 50px;
}
header div nav{
    margin: 20px; 
}
header nav a{
    padding: 20px; color: yellow; text-decoration: none;
}
header nav a:hover{
    color: red
}
body{
    background-image: url("Bi.jpg");
}
body h1{
    
}
body article {
    display: flex;
}
body img{
    margin: 40px;
}
table{
    border-collapse: collapse; align-items: center;
}
td{
    border: solid black; padding: 10px;
}
